<h2>Login</h2>

<form method="post">
    <input type="text" name="Username" placeholder="Username" /><br />
    <input type="password" name="Password" placeholder="Password" /><br />
    <button type="submit">Login</button>
</form>

<p style="color:red">@ViewBag.Error</p>