<h2>Register</h2>

<form method="post">
    <input type="text" name="Username" placeholder="Username" />
    <input type="password" name="Password" placeholder="Password" />
    <button type="submit">Register</button>
</form>
<br />
<a href="/Account/Login">Already have account? Login</a>