@model List<VehicleVault.Models.Vehicle>

<h2>Select Vehicles</h2>

<form method="post">
    <select name="id1">
        @foreach (var v in Model)
        {
            <option value="@v.Id">@v.Name</option>
        }
    </select>

    <select name="id2">
        @foreach (var v in Model)
        {
            <option value="@v.Id">@v.Name</option>
        }
    </select>

    <button type="submit">Compare</button>
</form>