@model VehicleVault.Models.Vehicle

<h2>Add Vehicle</h2>

<form method="post">

    <input asp-for="Name" placeholder="Name" /><br />
    <input asp-for="Price" placeholder="Price" /><br />
    <input asp-for="Mileage" placeholder="Mileage" /><br />
    <input asp-for="Engine" placeholder="Engine" /><br />
    <input asp-for="Fuel" placeholder="Fuel" /><br />
    <input asp-for="Safety" placeholder="Safety" /><br />

    <button type="submit">Save</button>

</form>