<h2>Add Vehicle</h2>

<form method="post" enctype="multipart/form-data">
    <input name="VehicleName" placeholder="Name" /><br />
    <input name="Price" placeholder="Price" /><br />
    <input name="Mileage" placeholder="Mileage" /><br />
    <input name="Engine" placeholder="Engine" /><br />
    <input name="FuelType" placeholder="Fuel Type" /><br />
    <input name="SafetyFeatures" placeholder="Safety Features" /><br />

    <input type="file" name="imageFile" /><br />

    <button type="submit">Save</button>
</form>