@model VehicleVault.Models.Vehicle

<h2>Edit Vehicle</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <label>Name</label><br />
    <input asp-for="Name" /><br />

    <label>Price</label><br />
    <input asp-for="Price" /><br />

    <label>Mileage</label><br />
    <input asp-for="Mileage" /><br />

    <label>Engine</label><br />
    <input asp-for="Engine" /><br />

    <label>Fuel</label><br />
    <input asp-for="Fuel" /><br />

    <label>Safety</label><br />
    <input asp-for="Safety" /><br /><br />

    <button type="submit">Update</button>
</form>